:root {
    --clr-background-1: #0f0f10;
    --clr-background-2: #1c1c1e;
    --text-light: #FFFFF0;
    --text-dark: #1c1c1e;
    --clr-accent-1: #FFFFF0;
    --clr-accent-2: #ffffffe5;
    --radius: 0.6rem;
    --radius-2: 0.2rem;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: var(--clr-background-2);
    color: var(--text-light);
    display: grid;
    grid-template: 
    "header" 30vh
    "main" auto;
}

i {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

.input-container {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 100px;
    border-radius: var(--radius);
    background-color: var(--clr-background-1);
}

.input-add {
    height: 50px;
    width: 450px;
    outline: none;
    border-radius: var(--radius-2);
    border: 3px solid black;
    font-size: 1rem;
    padding: 0 10px 0 10px;
    text-transform: none;
    color: var(--text-dark);
    background-color: var(--clr-accent-1);
}

.btn-add {
    position: absolute;
    right: 35px;
    font-size: 2rem;
    color: var(--clr-accent-1);
}

.todo-container {
    grid-area: main;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    border-radius: var(--radius);
    background-color: var(--clr-background-1);
    width: 900px;
    height: 600px;
}

.todo-list {
    margin-top: 20px;
    height: 82%;
    overflow: scroll;
}

.todo-box {
    display: flex;
    align-items: center;
    position: relative;
    height: 75px;
    width: 800px;
    background-color: var(--clr-accent-1);
    color: var(--text-dark);
    margin: 20px 10px 0 10px;
    font-size: 2.1rem;
    border-radius: var(--radius-2);
    overflow-x: scroll;
}

.todo-toggle {
    position: absolute;
    left: 20px;
}

.todo-input {
    position: absolute;
    left: 100px;
    width: 65%;
    font-size: 2rem;
    outline: none;
    background-color: transparent;
    border: none;
    text-transform: none;
}

.todo-edit {
    position: absolute;
    right: 70px;
}

.todo-remove {
    position: absolute;
    right: 20px;
}

.delete-all-btn {
    height: 35px;
    width: 100px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: var(--radius-2);
    background-color: var(--clr-accent-1);
    color: var(--text-dark);
    cursor: pointer;
    font-weight: bold;
}

.delete-all-btn:active {
    background-color: var(--clr-accent-2);
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
}
  
.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}
  